body {
    background-color: black;
    background-size: cover;
    background-position: center;
    position: relative;
}
#navigation {
    background-color: pink;
    margin: 5px auto;
    border-radius: 8px;
    width: 100%;
}

#head {
    background-color:aqua;
    border-radius: 8px;
    width: 100%;
}

#about {
    background-color: yellow;
    border-radius: 8px;
    overflow: auto;
    height:500px;
    width: 300px;
    padding: 10px;
    margin: 5px;
    position: relative;
    overflow-y: auto;

}

.contain{
    display: flex;
    justify-content: space-around;
}

#CreatePlan {
    background-color: blue;
    border-radius: 8px;
    width: 700px;
    padding: 10px;
    margin: 5px;
}

#Contact {
    background-color: purple;
    border-radius: 8px;
    width: 300px;
}

footer {
    color: orange;
}